.sections {
 flex-direction: column;
 padding:30px ;
 margin-bottom: 10px;
}

.one{
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
}

.one div{
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
}

.working{
    height: auto;
    width: 500px;

}

.images{
    height: auto;
    width: 500px;
    border-radius: 25px;
    border: 2px solid skyblue;
}
